{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Module 1</title>
    <link rel="stylesheet" href='{% static "mod1.css" %}'>

</head>

<div class="full-page">
        <div class="navbar">
            <div>
                <a href='signup.html'></a>
            </div>
            <nav>
              <form id='logout' action="/login/" method="post">
                {% csrf_token %}
            <ul id='MenuItems'>
                <li><a href='/home/'>Home</a></li>
                <li><a href='/aboutus/'>About Us</a></li>
                <li><button class='loginbtn' style="width:auto;" name="logout" value="logout" form="logout">Logout</button></li>
                </ul>
            </nav>
        </div>




        <section>
          <details open>
            <summary>What is Python?</summary>
            <div>
              <p>• Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.<br>
          <br> • It is used for:<br>
          - web development (server-side).<br> - software development.<br> - mathematics.<br> - system scripting.</p>
            </div>
        <audio controls>
          <source src='{% static "Audios/What is Python.mp3" %}' type="audio/mpeg">
        </audio>
          </details>
          <details>
            <summary color = yellow>What can Python do?</summary>
            <div>
              <p>1. Python can be used on a server to create web applications.<br> 2. Python can be used alongside software to create workflows.<br>
          3. Python can connect to database systems. It can also read and modify files.<br> 4. Python can be used to handle big data and perform complex mathematics.<br>
          5. Python can be used for rapid prototyping.</p>
            </div>
            <audio controls>
              <source src='{% static "What can Python do.mp3" %}' type="audio/mpeg">
            </audio>
          </details>
          <details>
            <summary>Why Python?</summary>
            <div>
              <p>• Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).<br>
        • Python has a simple syntax similar to the English language.<br>
        • Python has syntax that allows developers to write programs with fewer lines than some other programming languages.<br>
        • Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.<br>
        • Python can be treated in a procedural way, an object-oriented way or a functional way.</p>
            </div>
            <audio controls>
              <source src='{% static "Why Python.mp3" %}' type="audio/mpeg">
            </audio>
          </details>
        
           <details>
            <summary>Python Syntax</summary>
            <div>
              <p>• Compared to other programming languages,Python was designed for readability, and has some similarities to the English language with influence from mathematics.<br>
        • Python uses new lines to complete a command, as opposed to other programming languages which often use semicolons or parentheses.<br>
        • Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.<br>
              </p>
            </div>
            <audio controls>
              <source src='{% static "Audios/Python syntax.mp3" %}' type="audio/mpeg">
            </audio>
          </details>
        
           <details>
            <summary>Installation of Python</summary>
            <div>
                <p>• After downloading the latest version of  <a href="https://www.python.org/downloads/">Python</a>,
                To check if you have python installed on a Windows PC, search in the start bar for Python or run the following on the Command Line (cmd.exe):<br><br>
                    C:\Users\Your Name>python --version
        </p>
            </div>
          <audio controls>
            <source src='{% static "Audios/Installiation of Python.mp3" %}' type="audio/mpeg">
          </audio>
          </details>

          
          <details>
            <summary>Quiz</summary>
            <br>
              <button class="submit-btn">
                <a href="/mod1-quiz/">Start now</a>
              </button>
          </details>
          
        </section></div>